.formContainer {
    text-align: center;
    height: 20em;
    width: 15em;
    margin: 15px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(216, 245, 255);
    box-shadow: 4px 4px 4px rgba(140,140,140,0.5);

}

.warning {
    font-size: small;
    color: red;
}

.loginButton {
    margin: 10px;
    padding: 7px 60px;
}