#navBar {
    padding: 1rem;
    background-color:cornflowerblue;
}
/* #about {
    display: flex;
    justify-content: flex-end;
}

#logout {
    display: flex;
    justify-content: start;
}
#favorites {
    display: flex;
    justify-content:right;
} */